%h1 Etkinlik Listesi

.well
  = search_form_for [:admin, @search] do |f|
    %div
      = f.label :name
      = f.search_field :name_cont

    %div
      = f.label :start_date
      = f.date_field :start_date_gt

    %div
      = f.label :start_date
      = f.date_field :end_date_lt

    = f.submit 'Ara', class: 'btn btn-default'

.pull-right
  %div
    = link_to 'Yeni Etkinlik Oluştur', '#', class: 'btn btn-success btn-lg', "data-target" => "#myModal", "data-toggle" => "modal"
  .clearfix

%table.table
  %thead
    %tr
      %th= sort_link(@search, :name, 'İsim')
      %th= sort_link(@search, :start_date, 'Başlangıç Tarihi')
      %th= sort_link(@search, :end_date, 'Bitiş Tarihi')
      %th
      
  %tbody
    = render @events


%br

%div
  = will_paginate @events, renderer: BootstrapPagination::Rails, bootstrap: 3

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        = render partial: 'form', locals: {event: Event.new}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes