%p#notice= notice

%h1
  %b İsim:
  = @event.name
%p
  %b Başlangıç Tarihi:
  = @event.start_date
%p
  %b Bitiş Tarihi:
  = @event.end_date

= link_to 'Düzenle', edit_admin_event_path(@event)
\|
= link_to 'Geri', admin_events_path

%h2 Dersler

%table.table.table-bordered
  %thead
    %tr
      %th Adı
      %th Öğretmenler
  %tbody
  - @event.lessons.each do |lesson|
    %tr
      %td= link_to lesson.name, lesson
      %td= lesson.teachers.map(&:name).join(',')
