%tr
 %td= teacher.name
 %td= teacher.email
 %td= teacher.blocked 
 %td


  =link_to 'Detay',admin_teacher_path(teacher) , class: 'btn btn-info btn-xs', method: :get
  
  = link_to 'Blokla', block_admin_teacher_path(teacher), class: "btn btn-danger btn-xs #{teacher.blocked ? 'disabled' : ''}", method: :post
  = link_to 'Aktif Et', unblock_admin_teacher_path(teacher), class: "btn btn-success btn-xs #{teacher.blocked ? '' : 'disabled'}", method: :post