%h1 Listing lessons

%table
  %thead
    %tr
      %th Name
      %th Event
      %th
      %th
      %th
      
  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.name
        %td= lesson.event
        %td= link_to 'Show', [:teacher, lesson]
        %td= link_to 'Edit', edit_teacher_lesson_path(lesson)
        %td= link_to 'Destroy', [:teacher, lesson], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_teacher_lesson_path
