%p#notice= notice

%p
  %b Ders Adı:
  = @lesson.name

%p
  %b Etkinlik:
  = @lesson.event.name
%p
  %b Açıklama:
  = @lesson.description

= link_to 'Düzenle', edit_teacher_lesson_path(@lesson)

= link_to 'Geri', teacher_lessons_path
