!!!
%html
  %head
    %title Ab2015
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Akademik Bilişim
    / Bootstrap core CSS
  %body{:role => "document"}
    / Fixed navbar
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Akademik Bilişim Yönetim Ekranı
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              = link_to 'Duyurular',admin_announcements_path

    .container.theme-showcase{:role => "main"}
      / Main jumbotron for a primary marketing message or call to action
      - flash.each do |key, value|
        = content_tag :div, value, class: "flash alert alert-#{key}"
      %ol.breadcrumb
        = render_breadcrumbs :tag => :li, :separator => " / "
      = yield