%p#notice= notice


%h3
  %b= @announcement.title

= @announcement.content.to_s.html_safe

=image_tag(@announcement.file.url)



= link_to 'Düzelt', edit_admin_announcement_path(@announcement)

= link_to 'Geri', admin_announcements_path
