%p#notice= notice

%p
  %h3
    %b= @announcement.title
%p
  %p= @announcement.content.to_s.html_safe

= link_to 'Düzelt', edit_admin_announcement_path(@announcement)

= link_to 'Geri', admin_announcements_path
